/*define project fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300;0,500;1,300&family=Playfair+Display:wght@400;600&display=swap');

/*define project colors*/
:root {
  --blue: #00a5a5;
  --red: #ee3e54;
  --yellow: #fce0a2;
  --orange: #f05467;
  --gray: #848595;
  --light-gray: #a2b3cb;
  --custom-white:rgb(245, 244, 240);
  --custom-light-orange:#ffdf66;
  --custom-orange:#fec21b;
  --custom-light-green: #23d089;
  --custom-green:#1d6b87;
  --custom-yellow:#fff5b2;
  --handwriting-font: 'Great Vibes', cursive;
  --small-font: 'Playfair Display', serif;
}

body {
  /*font-family: 'Great Vibes', cursive;//handwriting style
  font-family: 'Playfair Display', serif;
  */
font-family: 'Open Sans', sans-serif;

background-color: var(--custom-white);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 0 3%;
  /*background-color: var(--custom-light-orange);*/
}
header > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#header-text-title{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
@media(min-width:400px){
  #header-text-title{
    font-size: 35px;
  }
}
@media(min-width:768px){
  #header-text-title{
    font-size: 45px;
  }
}
#home-title{
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom:-20px;
}
#ai-title{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  line-height: 40px;
}
.settings-sub-title{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-bottom:-10px;
  width: 80%;
  max-width: 700px;
  margin: auto;
}
#pick-color-label{
  font-size:12px;
}
#archive-title{
  font-family: 'Playfair Display', serif;
  font-size:40px;
}
@media(min-width:400px){
  #home-title{  
    font-size: 66px;
  }
  #ai-title{
    font-size: 56px;
    line-height: 50px;
  }
  .settings-sub-title{
    font-size: 24px;
  }
  #pick-color-label{
    font-size:14px;
  }
  #archive-title{
    font-size:56px;
  }
}
@media(min-width:800px){
  #home-title{
    font-size: 80px;  
  }
  #ai-title{
    font-size: 76px; line-height: 70px;
  }
  .settings-sub-title{
    font-size: 28px;
  }
  #pick-color-label{
    font-size:16px;
  }
  #archive-title{
    font-size:76px;
  }
}
@media(min-width:1240px){
  #home-title{
   
    font-size: 100px;
  }
}

.logo-title {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 28px;
}
.logo-subtitle {
  color: var(--red);
  margin-top: -28px;
  letter-spacing: 2px;
  font-size: 16px;
}
#logo-header{
  width: 70px;
}
#logo-login-page{
  width:300px;
}
#logout {
  width: 20px;
}
#logout-container {
  margin-left: auto;
  display:flex;
  height:100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
 
}
#logout-sign{
  margin-top:16px;
}
#hello{
  font-family: 'Great Vibes', cursive;
  font-size:16px;
}
@media(min-width:500px){
  #hello{
    font-size:24px;
  }
}
h1 {
  text-align: center;
}
@media (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
main {
  position: relative;
  
  flex-grow: 1;
  overflow: auto;
  background-position: center;
 margin-bottom: 100px;

}
#logo-login-complete{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#login-text-curve{
  font-size: 16px;
}
#login-image-logo{
  width: 150px;
}
@media(min-width: 1080px){
  #login-image-logo{
    width: 300px;
  }
}
#three-words{
  font-size:12px;
}
@media(min-width: 400px){
  #three-words{
    font-size:16px;
    margin-top:24px;
  }
}
#login-text-today{
  font-family: 'Great Vibes';
  text-align: center;
  font-size:30px;
  margin-top:-4px;
}
#login-text-title{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size:40px;
  margin-top:-28px;
}
@media(min-width: 400px){
  #login-text-title{
    font-size:60px;
  }
}

/*use for adding a background to main, complete bck-img´s url*/
main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("");
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
  max-width: 700px;
  margin: auto;
}

input[type="text"],
textarea {
  text-indent: 4px;
  padding: 4px;
}
textarea {
  min-height: 140px;
}
input[type="submit"] {
  background-color: var(--gray);
  color: white;
  margin-top:4px;
  margin-bottom: 8px;
  padding: 4px 0;
  
}
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: var(--blue);
 
}
input:focus {
  border: 1px solid var(--custom-light-orange); 
  
}
.alert {
  position: absolute;
  max-width: 100%;
 height:6vh;
  inset:0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
  padding: 20px;
 overflow-y: none;
 overflow-x: none;
text-wrap: wrap;
  border: 1px solid white;
  animation: slideToCenter  0.5s forwards;
}
@keyframes slideToCenter {
  0% {
   /* Start position off-screen to the right */
   transform: translateX(100%);
   /* Optionally set initial opacity if desired */
  
 }
  100% {
   /* End position at the center of the screen */
   transform: translateX(0);
   /* Optionally set final opacity if desired */
   
 }
}
@media (min-width:500px){
.alert{
  height:8vh;
}
}
.alert-danger {
  background-color: var(--red);
}
.alert-success{
  background-color: var(--custom-light-green) !important;
}
.alert-deleted{
  background-color: var(--custom-orange) !important;
}
.alert-celebration{
  background-color: var(--custom-green) !important;
  border:2px solid var(--custom-green) !important;
}
.close {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  align-self: flex-end;
  cursor: pointer;
}
#close-self-modal{
  cursor: pointer;
}
/* use for adding gray background when alert is on*/
.back-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 99;
  display: block;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  height: 100px;
  /*position: fixed;*/
  width: 100%;
  bottom: 0;
  left: 0;
  /*background-color: var(--custom-light-orange);*/

}
button {
  border: none;
}
.submit-btn{
    margin-top:8px;
}
.error {
        border: 1px solid red;
    }
.success-border {
      border: 1px solid var(--custom-green);
  }

.paint-btn-success{
    background-color: #00a5a5 !important;
  }
  .paint-btn-success:hover{
    background-color: #04b2b2 !important;
  }
#submit-send-new-pass-btn:hover{
  background-color: var(--gray);
}
.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 104px - 40px - 5px - 5px - 30px);
 
}
@media (min-width: 415px) {
  .sign-container {
    height: calc(100vh - 104px - 40px - 5px - 5px - 10px);
  }
}
@media (min-width: 1080px) {
  .sign-container {
    flex-direction: row;
  }
}
.sign-container > div {
  display: grid;
  place-content: center;
  flex-grow: 1;
  flex: 1;
  width: 100%;
  height: 100%;
}
.sign-container > div:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.2);
  background-color:var(--custom-orange);
}


/*SIGN VIEW TOGGLER*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 auto 24px auto;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--blue);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*label*/
.label {
  position: absolute;
  margin-top: 8px;
}
#label-register {
  left: 80px;
}
#label-signup {
  right: 80px;
}
/*END OF TOGGLER´s CODE*/

/*preparation for toggler action*/
#registerForm {
  display: none;
}
#loginForm {
  display: flex;
}
#label-signup {
  color: var(--blue);
}
#label-register {
  color: var(--gray);
}
/**/

#login-remember-container{
    display: flex;
    gap: 4px;
}
#login-remember-container > label{
    font-size: small;
}

/*Spinner LOADING*/
#loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  visibility: hidden;
}

#loadingIcon {
  animation: move 2s infinite;
}

@keyframes move {
  0% { transform: translateX(-50px); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(-50px); }
}

/*end spinner*/

.dict-container{
  width:80%;
  margin:auto;
}
.tag{
  font-weight: bold;
}
.tag::after{
  content: " ";
}
#add-word{
  width:50%;
}
.show-terms{
  width:80%;
  margin: 32px auto 0 auto;
  display:flex;
  justify-content: space-around;
  gap:12px 8px;
  flex-wrap: wrap;
  
  
}
.each-term{
  border: 1px solid gray;
  padding: 2px 12px;
  border-radius:16px;
  font-size: 32px;
  font-family: var(--handwriting-font);
  cursor:pointer;
  text-align: center;
  
}
#del-word-btn{
  background-color: transparent;
  border:none;
  color:var(--gray);
  max-width:fit-content; 
 
}
#del-word-btn:hover, #del-word-btn:active{
  scale:1.2;
  color: red;
}
.bin-complete-form{
 margin-right:auto;
max-width:fit-content;
  
}

#word-count-home{
  font-size: 20px;
  font-family: var(--handwriting-font);
  text-align: center;
}
@media(min-width:400px){
  #word-count-home{
    font-size: 26px;}
}
@media(min-width:800px){
  #word-count-home{
    font-size: 32px;}
}
.bin-and-audio-container{
  display:flex;
  justify-content: flex-start;
  align-items:center;  

  max-width:fit-content;
}

#footer-text-title{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size:30px;
}
#logo-footer{width:40px}
#footer-logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:8px;
}
#footer-last-line{
  margin-top:-12px;
  font-size: 16px;
  font-family: 'Great Vibes', cursive;
}

/*philosophy modal*/
#philosophy-modal{
  width:80%;
  border: 3px double gray;
  margin:auto;
  padding:16px;
  font-family: 'Playfair Display', serif; 
  font-size: 16px;
  line-height: 20px;cursor:pointer;
}

#close-philo-modal{
justify-self: end;
margin-bottom: -10px;
}
#btn-modal-x-container{
  width:100%;
  text-align: right;
}
#loading{
  position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.definition-classic-title, .definition-urban-title{
  font-style: italic;
  margin-bottom:-25px;
  font-size:small;
}

.separator{
  margin-top:20px;
  text-align: center;
}
.word-title{
  font-size: 32px;
  margin-bottom:-4px;
}

.fullDefinition{
 display:none;
}
.truncatedDefinition{
   display:block;
}
.readMoreBtn, .readLessBtn{
  cursor:pointer;
}

#confetti-container {
  position: fixed;
  top:  0;
  left:  0;
  width:  100%;
  height:  100%;
  pointer-events: none;
}
.starter-text{
  width: 60%;
  margin: auto;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  border: 1px solid gray;
  margin-top:12px;
  border-radius: 4px;
  padding: 0 12px;
 background-color: var(--custom-light-orange);
  letter-spacing: 140%;
  animation: fadeIn  1.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity:  0;
   
  }
  to {
    opacity:  1;

  }
}
#three-dots{
  animation: fadeIn 3.5s ease-in-out;
}
@keyframes fadeOut {
  from { opacity:  1; max-height: auto; }
  to { opacity:  0; max-height:  0; }
}


.fade-out {
  animation-name: fadeOut;
  animation-duration:  0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.nav-main{
  width: 100vw;
  display: flex;
  justify-content: space-between;  
  margin:4px auto 0 auto;


}
.nav-main-item{
  padding:8px;
  font-family: 'Playfair Display', serif; 
  font-size:12px;
  color: var(--gray);
  cursor:pointer;
}
.nav-main-item:last-child{
  margin-right: 8px;
}
.nav-main-item:hover{
  color:black;

}
@media(min-width:400px){
  .nav-main-item{
    font-size:16px;
  }
}
@media(min-width:560px){
  .nav-main{
      width:80%;
  }
}
@media(min-width:768px){
  .nav-main-item{
    font-size:20px;
  }
}
.ai-p{
font-family: var(--small-font);
  width:80%;
  margin: -16px auto 16px auto;
  text-align:center;
  font-size: 20px;
  max-width:700px;
}
@media(min-width:330px){
  .ai-p{
    text-align:justify;
  }
}
.ai-p > span{
font-size: small;
margin-top:16px;

}
.show-ai-paragraph-container{
  margin:auto;
  width:80%;
  max-width:1200px;
 margin-top:24px;
 
}
.new-paragraph{
  font-family: 'Great Vibes', cursive;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
}
@media(min-width:610px){
  .new-paragraph{  
    font-size: 40px;
  }
}
.new-paragraph::first-letter {
  font-weight: bold; /* Hace que la primera letra sea negrita */
  font-size: 200%; /* Aumenta el tamaño de la primera letra */
}
#create-text-p{
  text-align: center;
  margin-top:8px;
}
.smaller{
  font-size:24px !important;
}
.archive-btns-container{
  margin:auto;
  display:flex;
  flex-direction: column;
  gap:12px;
  padding: 0 12px;
}
@media(min-width:450px){
  .archive-btns-container{
    flex-direction: row;
    gap:32px;
  }
}
.small-text{
  color: var(--gray);
}
.tiny-note{
  color: var(--gray);
  font-size:10px;
}
.center{
  text-align: center;
}
.form-settings, .form-settings-colors{
  display:flex;
  margin: 8px auto 24px auto;
}
.form-settings-colors > div{
  display:flex;
  justify-content: space-between;
}
#color-forms-grid-container{
  display: flex;
  flex-direction: column;
 align-items:flex-end;
  margin:12px auto 0 auto;
}
@media (min-width: 560px) {
  #color-forms-grid-container {
    flex-direction: row; 
    width: 80%;
  max-width: 700px;
  gap:16px;
    }
  }

.bg_gray{
  background-color: rgb(219, 211, 211);
}

#form-settings-language {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 8px;
  align-items: end;
 }
 
 .name-flag-cont {
  display: flex;
  align-items:first baseline; 
  justify-content: flex-start;

  gap:8px;
 }
 
 .flag {
  width: 25px;
  margin: 12px 0 0 8px; 
 }
 #change-voice-btn{
  width:100%;
 }

 .modalScroll{
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  bottom: 20px; 
  right: 20px; 
  width: 50px; 
  height: 50px; 
  background-color: rgba(0,0,0,0); 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalScroll:hover{
  scale:1.1;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  cursor: pointer;
  border-radius: 50%;
  padding: 12px 0;
}
#colors-change-main-container{
  margin-top:24px;
}
#restore-btn{
  background-color: #474747;
}